fastapi==0.83.0
httptools==0.4.0
idna==3.3
ipykernel==6.13.0
ipython==8.3.0
mysql-connector-python==8.0.30
numpy==1.22.4
pandas==1.4.3
pydantic==1.10.2
PyMySQL==1.0.2
SQLAlchemy==1.4.41
ujson==5.4.0
urllib3==1.26.11
uvicorn==0.17.6
